# Env
**/.env

# Logs
**/log/
**/logs/

# Outputs
**/output/
**/outputs/
**/export/
**/exports/

# Tree dumps
**/tree.txt

# Minecraft runtime / backup files
world/session.lock
world/level.dat_old

# Player-specific data
world/players/

# Cache files
**/__pycache__