STUDY_CONTACT_NAME="[add researcher name to desktop/.env]"
STUDY_CONTACT_EMAIL="[add researcher email to desktop/.env]"
STUDY_PARTICIPANT_POOL_LABEL="[add participant pool label to desktop/.env]"
STUDY_REDC_NAME="[add REDC name to desktop/.env]"
STUDY_REDC_EMAIL="[add REDC email to desktop/.env]"